/* RESET */

html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  overflow-x: inherit;
  overflow-y: inherit;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Components */

.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
}

.Game {
  display: flex;
  margin: auto;
}

.Board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
}

.Cube-container {
  height: 25%;
  width: 25%;
}

.Cube {
  font-size: 30px;
  background-color: green;
  height: 90%;
  width: 90%;
  margin: 5%;
  position: relative;
}

.CubeSelected {
  background-color: blue;
}

.CubeCurrent {
  background-color: darkblue;
}

.WordListDisplayCube {
  background-color: pink;
  color: black;
}

.Cube p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Interface {
  background-color: yellow;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  background-color: purple;
}

.CurrentWordContainer {
  height: 40px;
  position: relative;
}

.CurrentWordContainer p {
  background-color: black;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.CurrentWordContainer p.empty {
  background-color: inherit;
}

.WordList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: blue;
  overflow-y: auto;
}

.Word {
  padding: 5px;
  margin: 5px;
  background: pink;
  color: black;
}

.invalidWord {
  background: red;
  color: black;
}

.validWord {
  background: green;
  color: white;
}

/* Media queries */

/* @media screen and (min-width: 400px) and (min-height: 800px) { */
@media screen and (orientation: portrait) {
  .Game {
    height: min(900px, 100vh);
    width: min(400px, 100vw);
    flex-direction: column;
  }

  .Board {
    width: 100%;
    height: min(400px, 100vmin);
  }

  .Interface {
    width: 100%;
    flex: 1 1 auto;
    height: calc(calc(min(900px, 100vh) - min(400px, 100vmin)) - 18px);
  }

  .WordList {
    height: calc(
      calc(calc(min(900px, 100vh) - min(400px, 100vmin)) - 18px) - 40px
    );
  }
}

@media screen and (orientation: landscape) {
  .Game {
    height: min(400px, 100vh);
    width: min(900px, 100vw);
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .Board {
    height: calc(min(100vh, 400px) - 18px);
    width: min(400px, 100vmin);
  }

  .Interface {
    width: calc(min(900px, 100vw) - min(400px, 100vmin));
  }

  .WordList {
    height: calc(min(400px, 100vh) - 40px);
  }
}
